.aboutMe-container{
    display: flex;
  align-items: center;
  justify-content: center;
  
}
.about-para {
    display: inline-block;
    background: #af9a7d;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    
    
    
  }